/*------------------------- Styles for widget panel -----------------------*/
.esriCTMainContainer
{
    min-width: 222px;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    overflow: hidden;
}

.jimu-widget-Adopta .esriCTPadding
{
    padding-top: 5px;
}

.esriCTOverridePanelStyle
{
    padding: 0 !important;
}

.jimu-widget-Adopta .esriCTFullHeight
{
    height: 100%;
}

.jimu-widget-Adopta .esriCTFullWidth
{
    width: 100%;
}

.jimu-widget-Adopta .esriCTEllipsis
{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.jimu-widget-Adopta .esriCTCursorPointer
{
    cursor: pointer;
}

.jimu-widget-Adopta .esriCTHidden
{
    display: none;
}

.jimu-widget-Adopta .esriCTLoginDetailsContainer
{
    width: 100%;
    max-height: calc(50% - 30px);
    overflow-y: auto;
    padding: 10px 10px 20px 10px;
}

.jimu-widget-Adopta .esriCTLoginInfoContainer
{
    padding: 10px;
    width: 100%;
    height: calc(100% - 90px);
    overflow-y: auto;
}

.jimu-widget-Adopta .esriCTAssetInfoSectionContent
{
    padding: 15px;
}

.jimu-widget-Adopta .esriCTLoginDetailsContainer .dijitTextBox
{
    margin: 15px 10px 3px 10px;
    width: calc(100% - 20px);
}

.jimu-widget-Adopta .esriCTActionsContainer .dijitTextBox
{
    margin-bottom: 10px;
    width: 100%;
}

.jimu-widget-Adopta .esriCTFullButton
{
    width: 100%;
    height: 40px;
    background-color: #00B050;
    line-height: 40px;
    text-align: center;
    color: #FFF;
}

.jimu-widget-Adopta .esriCTWidgetErrorNode
{
    padding: 0px 14px;
}

.jimu-widget-Adopta .esriCTLoginStatusMsg
{
    padding: 10px;
}

.jimu-widget-Adopta .esriCTStreetAddressText
{
    padding-bottom: 5px;
    border-bottom: 1px solid #333333;
}

.jimu-widget-Adopta .esriCTStreetAddressContent
{
    padding-top: 5px;
}

.jimu-widget-Adopta .esriCTAdoptButtonContainer
{
    color: #fff;
}

.jimu-widget-Adopta .esriCTAdoptButton
{
    float: right;
}

.esriRtl .jimu-widget-Adopta .esriCTAdoptButton
{
    float: left;
}

.jimu-widget-Adopta .esriCTActionsContainer
{
    padding-top: 20px;
}

.jimu-widget-Adopta .esriCTAdoptActionsContainer
{
    width: 100%;
    float: left;
}

.jimu-widget-Adopta .esriCTAdditionalActionsContainer
{
    float: left;
    width: 100%;
    padding-top: 25px;
    text-align: center;
}

.jimu-widget-Adopta .esriCTBtnContainer
{
    line-height: 40px;
    width: 30px;
    float: right;
}

.jimu-widget-Adopta .esriCTStaticWidth
{
    width: 80%;
    float: left;
    line-height: 40px;
    text-align: left;
    font-weight: bold;
    min-width: 135px;
}

.esriRtl .jimu-widget-Adopta .esriCTStaticWidth
{
    float: right;
    text-align: right;
}

.jimu-widget-Adopta .esriCTDisabledAdoptButton
{
    background-color: #808080;
    cursor: default;
}

.jimu-widget-Adopta .esriCTPanelWithButton
{
    height: calc(100% - 40px);
    overflow-y: auto;
    padding-bottom: 10px;
}

.jimu-widget-Adopta .esriCTSelectAssetSection
{
    padding: 5px 15px 10px 15px;
}

.jimu-widget-Adopta .esriCTCountLabelContainer
{
    margin-bottom:5px;
    float: right;
}

.esriRtl .jimu-widget-Adopta .esriCTCountLabelContainer
{
    float: left;
}

.jimu-widget-Adopta .esriCTAssetDetailsImageDimensions
{
    background-position: center;
    background-size: 28px;
    background-repeat: no-repeat;
    height: 28px;
    width: 28px;
    display: inline-block;
    vertical-align: middle;
}


.jimu-widget-Adopta .esriCTActionPerformedContainer
{
    width: 75%;
    line-height: 40px;
    margin: auto;
}

.jimu-widget-Adopta .esriCTRegisteredUser
{
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    color: rgb(0, 122, 194);
    cursor: pointer;
}

.esriRtl .jimu-widget-Adopta .esriCTRegisteredUser {
    float: left;
    margin-left: 10px;
    margin-right: auto;
}

/*------------------------- End of styles for widget panel -----------------------*/
/*My Asset List*/
.jimu-widget-Adopta .esriCTListItem
{
    width: 100%;
    float: left;
    border-bottom: 1px solid #CCC;
    height: 42px;
    line-height: 42px;
    cursor:pointer;
}

.jimu-widget-Adopta .esriCTListItemTitle
{
    padding: 0 5px;
}

.jimu-widget-Adopta .esriCTListItemActionButton
{
    float: right;
    min-width: 80px;
    max-width: 180px;
    margin: 5px 5px;
    height: 30px;
    line-height: 20px;
    padding: 5px !important;
}

.esriRtl .jimu-widget-Adopta .esriCTListItemActionButton
{
    float: left;
}

.jimu-widget-Adopta .esriCTListItemHighlight
{
    float: left;
    width: 5px;
    height: 100%;
}

.esriRtl .jimu-widget-Adopta .esriCTListItemHighlight
{
    float: right;
}

.jimu-widget-Adopta .esriCTActionPerformed
{
    cursor: default;
}

.jimu-widget-Adopta .esriCTmyAssetsButton
{
    width: calc(100% - 30px);
    float: left;
}

.esriRtl .jimu-widget-Adopta .esriCTmyAssetsButton
{
   float: right;
}

.jimu-widget-Adopta .esriCTPreviousArrow
{
     background-image: url(../images/back.png);
     background-position:center;
     background-size:28px;
     background-repeat:no-repeat;
     height:28px;
     width: 28px;
     margin: 7px 0;
     float: left;
}

.esriRtl .jimu-widget-Adopta .esriCTPreviousArrow
{
     background-image: url(../images/next.png);
     float: right;
}

.jimu-widget-Adopta .esriCTNextArrow
{
     background-image: url(../images/next.png);
     background-position:center;
     background-size:28px;
     background-repeat:no-repeat;
     height:28px;
     width: 28px;
     float: right;
     margin: 7px 0;
}

.esriRtl .jimu-widget-Adopta .esriCTNextArrow
{
     background-image: url(../images/back.png);
     float:left;
}

.jimu-widget-Adopta .esriCTimageDimensions
{
     background-position:center;
     background-size:28px;
     background-repeat:no-repeat;
     height:28px;
     width: 28px;
     float: right;
     margin: 7px 0 0 5px;
}

.esriRtl .jimu-widget-Adopta .esriCTimageDimensions
{
     margin: 7px 5px 0 0;
}

.esriRtl .jimu-widget-Adopta .esriCTGreenCheck
{
    float:left;
}

.jimu-widget-Adopta .esriCTItemActionContainer
{
    float: right;
    max-width: 50%;
}

.esriRtl .jimu-widget-Adopta .esriCTItemActionContainer
{
    float: left;
}

.jimu-widget-Adopta .esriCTItemActionText
{
    float: left;
    max-width: 75%;
    font-weight: bold;
}

.esriRtl .jimu-widget-Adopta .esriCTItemActionText
{
    float: right;
    text-align: left;
}

.jimu-widget-Adopta .esriCTPrimaryActionImageContainer
{
    height: 42px;
    float: right;
}
/*------------------------- Overridden dojo Styles -----------------------*/
/*Hide arrow node for team autocomplete box*/
.jimu-widget-Adopta .esriTeamAutoCompleteContainer .dijitArrowButton.dijitDownArrowButton
{
    display: none;
}

.jimu-widget-Adopta .esriCTAssetInfoSectionContent .dijitContentPane
{
    padding: 0px !important;
}